.app {
  display: grid;
  min-height: 100vh;
  max-width: 100vw;
  /* max-width: 368px; */
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  gap: 32px;
}

.app_main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16px;
  gap: 80px;
}
